<div id="demo-content">
	<!-- <legend class="no-padding margin-bottom-10 bold">MUIO settings</legend>
	<br/> -->
	<div class="row">
		<div class="col-md-6">
			<div id="dllSettingUnits"></div>
		</div>
	</div>
	<br/><br/>

	<div class="row">
		<div class="col-md-6">
			<div id="ddlPivotDecimalPoints"></div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-6">
			<button id="osy-saveSettings" class="btn btn-white btn-default btn-bold">
				<i class="fa fa-save fa-lg"></i> Save
			</button>
						<button id="osy-resetSettings" class="btn btn-white btn-default btn-bold">
				<i class="fa fa-refresh fa-lg"></i> Reset
			</button>
		</div>

	</div>
</div> 


